// @import "~react-image-gallery/tyles/scss/image-gallery.scss";

@font-face {
  font-family: 'HeadingFont'; // Replace with your desired font-family name
  src: url('../fonts/DelaGothicOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ContentFont'; // Replace with your desired font-family name
  src: url('../fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}

body,html {
  margin: 0;
  background-color: white;
  width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: 0;
}

h1 {
  margin: 0;
  font-family: HeadingFont, sans-serif;
  font-size: 103px;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 8px;
  white-space: nowrap;

}

h2 {
  font-family: HeadingFont, sans-serif;
  font-size: 40px;
  width: 475px;
}

p {
  font-family: ContentFont, sans-serif;
  font-size: 20px;
}




#page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}