// @import "~react-image-gallery/tyles/scss/image-gallery.scss";

@font-face {
  font-family: 'HeadingFont'; // Replace with your desired font-family name
  src: url('../fonts/DelaGothicOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ContentFont'; // Replace with your desired font-family name
  src: url('../fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: white;
}

* {
  box-sizing: 0;
}

h1 {
  margin: 0;
  font-family: HeadingFont, sans-serif;
  font-size: 103px;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 8px;
  white-space: nowrap;

}

h2 {
  font-family: HeadingFont, sans-serif;
  font-size: 40px;
  width: 475px;
}

p {
  font-family: ContentFont, sans-serif;
  font-size: 20px;
}


#navbar {
  background-color: #F8961E;
  padding: 86px 0 113px 0;

  .navbar-content {
    width: 1100px;
    margin: 0 auto;

    .menu{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      a {
        display: inline-block;
        padding: 10px;
        color: black;
        font-size: 16px;
        font-family: ContentFont, sans-serif;
        text-decoration: none;
  
        cursor: pointer;

        &:hover{
          text-decoration: underline;
        }
  
        &.is-active {
          background-color: rgba(255, 0, 0, 0.1);
          padding: 4px 8px 16px 8px;
        }
  
        &:last-of-type {
      
          text-align: end;
        }
      }
    }


  }
}

#page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}